<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Personas</title>
</head>
<body>
    <h1>Personas</h1>
    <br/>

    <div th:if="${personas != null and !personas.empty}">
        <table border="1">
            <tr>
                <th>idPersona</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Telefono</th>
            </tr>

            <tr th:each="persona : ${personas}">
                <td th:text="${persona.idPersona}">idPersona</td>
                <td th:text="${persona.nombre}">nombre</td>
                <td th:text="${persona.apellido}">apellido</td>
                <td th:text="${persona.email}">email</td>
                <td th:text="${persona.telefono}">Telefono</td>
            </tr>

        </table>
    </div>
    <div th:if="${personas == null or personas.empty}">
        Lista vacia
    </div>

</body>
</html>