<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Plantilla</title>
</head>
<body>
    <header th:fragment="titulo">
        <h1 th:text="#{plantilla.titulo}"></h1>
    </header>
    <footer th:fragment="pie">
        <div>
            <br/>
            <a th:href="@{/(lang=es)}">ES</a> |
            <a th:href="@{/(lang=en)}">EN</a>
            <span> [[#{plantilla.pie_pagina}]] <a href="http://Facebook.com" target="_blank">DerechosResevador.com</a></span>
        </div>
    </footer>


</body>
</html>